.container-business{
    width: 100%;
    min-height: 100%;
    background-color: rgba( 247, 247, 247, 1);
    overflow: hidden;
}
.select-tab{
    width: 100%;
    height: 1.8rem;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.select-btn{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-btn i, .select-btn span{
    color: #666;
    font-size: 0.6rem;
}
.select-btn i{
    margin-left: 0.2rem;
    transition: all .3s;
}

.select-btn.ac i{
    transform: rotate(180deg);
    color: #FF8D63;
}
.select-btn.ac span{
    color: #FF8D63;
}

.select-modal{
    position: fixed;
    top: 4rem;
    width: 100%;
    background: rgba(0,0,0,0.4);
    transition: opacity .3s;
    opacity: 0;
    z-index: -1000;
    
}

.select-modal.show{
    opacity: 1;
    z-index: 1000 !important;

}

.select-modal .modal-con{
    width: 100%;
    height: auto;
    max-height: 10rem;
    transition: all .3s;
    transform: scale(0.1);
    overflow-y: scroll;
}

.select-modal.show .modal-con{
    transform: scale(1);
}

.select-item{
    border-top: 1px solid rgba(229, 229, 229, 1);
    width: 100%;
    height: 2rem;
    background: #fff;
}

/*********************************/
@keyframes touch1
{
    from {    
        transform: scale(1);
        opacity: 1;
    }
    to {    
        transform: scale(100);
        opacity: 0;
    }
}

.touch-item{
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
    overflow: hidden;
    transition: all .3s;
}

.touch-item .touch-wave{
    position: absolute;
    width: 1px;
    height: 1px;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    opacity: 1;
    transform: scale(1);
    transition: opacity .3s, transform .3s, background .3s;
}

.touch-item.touch1 .touch-wave{
    animation: touch1 .4s;
}

.touch-item.touch2{
    background: rgba(237, 237, 237, 1);
}



/*轮播*/
.swiper-wrap{
    position: relative;
    overflow: hidden;
}

.swiper-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    overflow: hidden;
}

.swiper-container.ani{
    transition: all .3s;
}


/* 商家列表 */
.business-item{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
    margin-bottom: 0.6rem;
}
.business-item-top{
    width: 100%;
    height: 4.8rem;
    border-bottom: 1px solid #EAEAEA;
    padding: 0 0.6rem;
    align-items: center;
}

.business-service-item{
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid #EAEAEA;
    padding: 0.4rem 0.6rem;
    flex-direction: column;
}
.business-service-item:last-child{
    border-bottom: none;
}

/* 搜索 */
.container-search{
    width: 100%;
    height: 100%;
    background: rgba(247, 247, 247, 1);
}
.container-search .header, .container-selectCity .header{
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #eee;
    background: #fff;
    padding: 0 0.6rem;
}
.container-search .search-input-wrap, .container-selectCity .search-input-wrap{
    width: 15.25rem;
    height: 1.5rem;
    position: relative;
    background:rgba(247,247,247,1);
    border-radius: 0.8rem;
}
.input-tit{
    width: auto;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.input-tit.focus{
    left: 0.5rem;
    transform: translate(0, -50%);
}

.input-tit span{
    font-size: 0.65rem;
    color: #909090;
    display: block;
    margin-left: 0.4rem;
}

.search-btn{
    position: absolute;
    font-size: 0.7rem;
    color: rgb(107, 107, 107);
    height: 100%;
    line-height: 1.75rem;
    width: 2rem;
    text-align: center;
    right: 0;
    top: 0;
}


.header input{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    padding: 0 2rem;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 0.65rem;
    color: #444;
}

/* 附近商家 */
.container-map{
    width: 100%;
    height: 100%;
    position: relative;
}

.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}
.container-map .BMap_stdMpCtrl.BMap_noprint.anchorBR.BMap_stdMpType4{
    top: 1rem !important;
    bottom: auto !important;
}


/* 城市选择 */
@keyframes curCity
{
    from {opacity: 1;display: flex;}
    to {opacity: 0;display: none;}
}
 
.container-selectCity{
    width: 100%;
    height: 100%;
    background: rgba(247, 247, 247, 1);
}
