/*******
***首页
******/

/************今日油价***************/
.text{
    color: #444444
}
.proTxt{
    font-size: .875rem;
}
.priceTxt{
    font-size: .75rem;
}

::-webkit-scrollbar{
    display:none;
    width:0;
    height: 0;
}

/************爱车生活*************/
.carBox{
    height:12.5rem;
}
.carIcon{
    width:2.25rem;
    height:2.25rem;
}

/************车主生活*************/
.ownerBox{
    width: 100%;
    height: 11.25rem;
}
.ownerImg{
    width: 3.12rem;
    height:3.12rem
}

.car_right{
    background-color: rgba(62,42,240,0.05);
    padding: 0 0.625rem;
}
@media screen and (min-width: 275px) and (max-width: 320px){
    .ownerBox{
        width: 100%;
        height: 9.25rem;
    }
    .ownerImg{
        width: 2rem;
        height: 2.5rem
    }
    .car_right{
        width: 48%;
        height: 5rem;
        background-color: rgba(62,42,240,0.05);
        padding: 0 0.625rem;
    }
}


/************商家详情*************/
.border-top{
    border-top: 1px solid #EAEAEA
}
.border-bottom{
    border-bottom: 1px solid #EAEAEA
}

.business-card{
    padding: 1rem 1.5rem
}

/************使用抵用券*************/
.voucher-box{
    margin: 0 auto;
}


/************我的会员卡*************/
.vip-card{
    padding: 1.3rem 1.2rem
}


/*我的订单*/
.tabActive{
    border-bottom: 1px solid #FE8658;
}
.tabCenter{
    margin: 0 auto
}