$commomBorder_fe_color:#D8DCE5; //统一分割线的边框颜色，浅灰色

.lx_for_line {
  //资费调整的分割线
  width: 100%;
  box-sizing: border-box;
  padding: 0 13px;
  margin: 17px 0;

  .lx_for_line_inner {
    border-bottom: 2px dashed $commomBorder_fe_color;

  }
}
